<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <link rel="shortcut icon" href="#"/>
  <link rel="preload" href="{{_layout_res}}/font/HYWH-65W.ttf" as="font" crossorigin>
  <link rel="preload" href="{{_layout_res}}/font/HYWH-85W.ttf" as="font" crossorigin>
  <link rel="preload" href="{{_layout_res}}/font/NZBZ.ttf" as="font" crossorigin>
  <link rel="preload" href="{{_layout_res}}/font/tttgbnumber.ttf" as="font" crossorigin>
  <link rel="stylesheet" type="text/css" href="{{_layout_res}}/layout/common.css"/>
  {{block 'css'}}
  {{/block}}
</head>
<body {{sys.scale}}>
<div class="container" id="container">
  {{block 'main'}}{{/block}}
  <div class="copyright">{{@sys.copyright}}</div>
</div>
</body>
</html>